body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  ul {
    list-style: none;
  }
  .card-body{
    display: flex;
    flex-direction: column;
    border: 2px solid #bcbcbc;
    border-radius: 10px;
    width: 50vw;
    height: auto;
  }
  .card {
    display: flex;
    background-color: #bcbcbc;
    width: 60vw;
    height: 30vh;
    padding: 10px;
  }
  
  .custom-card {
    display: flex;
    height: 70px;
    width: auto;
    border-width: 0.22vw;
    border-radius: 10px;
  }
  li{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  p {
    font-size: 20px;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
  }
  
  .custom-button {
    background-color: #bcbcbc;
    border-color: #bcbcbc;
    border-radius: 10px;
    margin: 20px;
    font-size: 15px;
    border-radius: 2.22vw;
    width: 10vw;
    height: 8.89vh;
  }
  .custom-button:hover {
    background-color: #8b8989;
    border-color: black;
    border-width: 0.11vw;
    margin: 20px;
    font-size: 15px;
    border-radius: 2.22vw;
    width: 10vw;
    height: 8.89vh;
  }
  
  #result {
    font-size: 20px;
    margin: 5px;
  }
  #resultDiv{
    display: flex;
    justify-content: center;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  ul{ 
    padding: 0;
  }

  .exitbtn>a {
    background-color: #e17481;
    color: #000;
    padding: 5px 10px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    margin: 0 auto;
  }
  