body{
    margin: 0;
    font-family: 'Roboto', sans-serif
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15vh;
    font-size: large;
}
.Item-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 2px;
    padding: 10px;
    background-color: #bcbcbc;
}
#kindacat{
    display: flex;
    margin: 10px;
}
.dropdown {
    display: inline-block;
    font-family: 'Roboto', sans-serif, 15;
}
.dropbtn {
    background-color: #bcbcbc;
    border: 2px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border-radius: 10px;
}
.dropbtn:hover {
    background-color: #ffffff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #bcbcbc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #bcbcbc;
}
.games{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
}
.game-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 40vw;
    background-color: #bcbcbc;
    border: 2px solid black;
    padding: 10px;
}

#globo{
    width: 7vw;
    height: auto;
}
.img-text{
    display: flex;
}
.play-button{
    width: 5vw;
    background-color: orange;
    font: bold;
    height: 5vh;
    border-radius: 15px;
}
.game-description{
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}
.titles{
    font-size: large;
}