body{
    margin: 0;
    font-family: 'Roboto', sans-serif
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15vh;
    font-size: large;
}
.Item-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    background-color: #bcbcbc;
}
#kindacat{
    display: flex;
    margin: 10px;
}
.dropdown {
    display: inline-block;
    font-family: 'Roboto', sans-serif, 15;
}
.dropbtn {
    background-color: #ffba41;
    border: 2px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border-radius: 10px;
}
.dropbtn:hover {
    background-color: #ddb369;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #bcbcbc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #bcbcbc;
}
.games{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
}
.game-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 40vw;
    background-color: #bcbcbc;
    border-radius: 10px;
    padding: 10px;
}

#globo{
    width: 7vw;
    height: auto;
}
.img-text{
    display: flex;
}

.game-description{
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}
.titles{
    font-size: large;
}
/* Progress Bar */
.progress{
    margin: 10px;
    display: flex;
    justify-content: center;
}
.progress-container {
display: flex;
background-color: #bcbcbc;
border-radius: 10px;
width: 40vw;
height: 4vh;
flex-wrap: wrap;
align-items: center;
}
#bar {
display: flex;
background-color: green;
width: 0%;
height: 4vh;
align-items: center;
border-radius: 10px;
}

/*
    Footer styles
*/

footer {
    margin-top: auto;
    background-color: #e0e0e0;
}

.footer-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;
}

.footer-columns>div {
    width: 100%;
}

.footer-copyright {
    background-color: #cecece;
    padding: 20px 40px;
    font-size: small;
}

.footer-column-title {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul>li {
    padding: 10px 0;
}

.footer-columns>div:last-child>img {
    width: 120px;
}

.store-contacts>li::before {
    font-family: 'Material Symbols Outlined';
    vertical-align: middle;
    padding-right: 5px;
}

.contact-mailto::before {
    content: "\e158";
}

.contact-address::before {
    content: "\e0c8";
}

/* mobile */
@media (min-width: 576px) {
    .footer-columns>div {
        width: calc((100% / 2) - 20px);
    }
}

/* tablets */
@media (min-width: 768px) {
    .footer-columns>div {
        width: calc((100% / 4) - 20px);
    }
}

/* tablet devices */
@media (max-width: 768px) {
    .game-container {
        flex-wrap: wrap;
    }
}

